*{
    margin-left: 10%;
    margin-left: 10%;
}



#intro{
    padding: 0%;
    margin-top: auto;
}

.me{
    padding-bottom: 0%;
}

#body{
    display: flex;
    width: 50%;
}

.imgs{
    display: flex;
}